

<footer class="flex flex-col md:flex-row p-8 mt-10 bg-blue-50 gap-8">
    <p>© 2024 Ronald Coello</p>
    <p class="ml-auto">Made with 💎 Ruby on Rails</p>
    <a href="https://github.com/ronaldcoe/bulletin-ruby" 
    target="_blank"
    class="underline"
    >
        Check out the Repository
    </a>
</footer>