<nav class="bg-blue-50 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-md md:text-2xl">💎 BulletinRuby</a>
    <div>
      <% if current_user %>
        <%= link_to current_user.name, current_user, class: "px-3 py-2 rounded-md" %>
        <%= button_to 'Logout', logout_path, method: :delete, form: {class: "inline"}, class: "px-3 py-2 rounded-md" %>

      <% else %>
        <%= link_to 'Sign Up', signup_path, class: "px-3 py-2 rounded-md" %>
        <%= link_to 'Login', login_path, class: "px-3 py-2 rounded-md" %>
      <% end %>
    </div>
  </div>
</nav>
